MQTT_ENABLED=false
MQTT_BROKER=localhost
MQTT_PORT=8883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_KEEPALIVE=60
MQTT_TLS=true
MQTT_CA_CERT=/opt/s5/certs/server.crt
MQTT_TLS_INSECURE=false
MQTT_TOPIC_ROOT=s3/zigbee
MQTT_BUFFER_DB=mqtt_buffer.db
MQTT_BUFFER_RETENTION_DAYS=7
MQTT_STATUS_INTERVAL_SECONDS=7200
GATEWAY_ID=s3-gateway-01
